<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='stylesheets/application.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='javascripts/lib/flowbite.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/lib/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/lib/fabric.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/alert.js') }}"></script>
  <script src="{{ url_for('static', filename='javascripts/html_element_factory.js') }}"></script>
</head>
<body>
  <div id="alerts" class="flex flex-col gap-1 fixed right-2 bottom-2 z-20"></div>
  <div class="flex">
  	<div class="w-96 bg-gray-200 h-screen shadow-2xl z-10 overflow-y-auto border-r border-slate-300 py-2 px-1 overflow-x-hidden">
      <div id="setting" class="flex gap-2 justify-around pb-2 mb-1 border-b border-zinc-300">
        <button data-modal-target="uploadModal" data-modal-toggle="uploadModal" type="button" class="relative w-8 h-8 text-gray-500 bg-white rounded-full border border-gray-200 hover:text-gray-900 shadow-sm hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 focus:outline-none">
          <svg class="w-3 h-3 mx-auto mt-px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l4.5 4.5a.75.75 0 01-1.06 1.06l-3.22-3.22V16.5a.75.75 0 01-1.5 0V4.81L8.03 8.03a.75.75 0 01-1.06-1.06l4.5-4.5zM3 15.75a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
          </svg>
        </button>
        <button id="download" type="button" class="relative w-8 h-8 text-gray-500 bg-white rounded-full border border-gray-200 hover:text-gray-900 shadow-sm hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 focus:outline-none">
          <svg class="w-3 h-3 mx-auto mt-px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v11.69l3.22-3.22a.75.75 0 111.06 1.06l-4.5 4.5a.75.75 0 01-1.06 0l-4.5-4.5a.75.75 0 111.06-1.06l3.22 3.22V3a.75.75 0 01.75-.75zm-9 13.5a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z" clip-rule="evenodd" />
          </svg>
        </button>
        <button data-modal-target="FontsModal" data-modal-toggle="FontsModal" type="button" class="relative w-8 h-8 text-gray-500 bg-white rounded-full border border-gray-200 hover:text-gray-900 shadow-sm hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 focus:outline-none select-none">
          F
        </button>
        <button id="switch_img" type="button" class="relative w-8 h-8 text-gray-500 bg-white rounded-full border border-gray-200 hover:text-gray-900 shadow-sm hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-3 h-3 mx-auto mt-px">
            <path fill-rule="evenodd" d="M15.97 2.47a.75.75 0 011.06 0l4.5 4.5a.75.75 0 010 1.06l-4.5 4.5a.75.75 0 11-1.06-1.06l3.22-3.22H7.5a.75.75 0 010-1.5h11.69l-3.22-3.22a.75.75 0 010-1.06zm-7.94 9a.75.75 0 010 1.06l-3.22 3.22H16.5a.75.75 0 010 1.5H4.81l3.22 3.22a.75.75 0 11-1.06 1.06l-4.5-4.5a.75.75 0 010-1.06l4.5-4.5a.75.75 0 011.06 0z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div id="docker_text" class="text-xs">
        <div id="docker_layer" class="px-2 mb-2">
          <label class="block mb-1 text-xs font-medium text-gray-900">Layers</label>
          <label class="relative inline-flex items-center cursor-pointer select-none">
            <input id="visible_box" type="checkbox" value="" class="sr-only peer" checked>
            <div class="w-11 h-6 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
            <span class="ml-3 font-medium text-gray-900">Visible Box</span>
          </label>
          <ul id="layers" class="bg-white w-full select-none h-24 overflow-y-scroll rounded">
          </ul>
        </div>
        <div id="docker_margin" class="mb-1 pb-2 border-b border-zinc-300 px-2">
          <label for="margin" class="block mb-1 text-xs font-medium text-gray-900">Margin</label>
          <div id="margin" class="flex justify-between">
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900" for="marginTop">Top</label>
              <input type="number" name="marginTop" id="marginTop" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900" for="marginBottom">Bottom</label>
              <input type="number" name="marginBottom" id="marginBottom" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900" for="marginLeft">Left</label>
              <input type="number" name="marginLeft" id="marginLeft" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900" for="marginRight">Right</label>
              <input type="number" name="marginRight" id="marginRight" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
          </div>
        </div>
        <div id="docker_font" class="px-2 mb-1 pb-2 border-b border-zinc-300">
          <label for="font" class="block mb-1 text-xs font-medium text-gray-900">Font</label>
          <div id="fontname" class="pb-2 mb-1 relative">
            <input type="text" id="font" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1" autocomplete="off">
            <div id="font_autocomplete_results" class="absolute top-10 left-0 w-full bg-white border rounded shadow-lg z-10 h-80 hidden overflow-auto"></div>
          </div>
          <div id="style_font" class="flex gap-1 items-center select-none">
            <div>
              <input type="number" name="fontSize" id="fontSize" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <input type="color" name="fill" id="fill" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10" data='text'>
            </div>
            <div class="flex">
              <input id="bold" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" data='text'>
              <label for="bold" class="ml-1 text-xs font-medium text-gray-900">Bold</label>
            </div>
            <div class="flex">
              <input id="italic" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" data='text'>
              <label for="italic" class="ml-1 text-xs font-medium text-gray-900">Italic</label>
            </div>
          </div>
        </div>
        <div id="docker_alignment" class="px-2 mb-1 pb-2 border-b border-zinc-300">
          <label class="block mb-1 text-xs font-medium text-gray-900">Alignment</label>
          <div id="alignments" class="flex gap-1 items-center select-none justify-between">
            <div class="flex">
              <input id="alignmentLeft" type="radio" name="textAlign" value-text='left' class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-full focus:ring-blue-500" data='text'>
              <label for="alignmentLeft" class="ml-1 text-xs font-medium text-gray-900">Left</label>
            </div>
            <div class="flex">
              <input id="alignmentCenter" type="radio" name="textAlign" value-text='center' class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-full focus:ring-blue-500" data='text'>
              <label for="alignmentCenter" class="ml-1 text-xs font-medium text-gray-900">Center</label>
            </div>
            <div class="flex">
              <input id="alignmentRight" type="radio" name="textAlign" value-text='right' class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-full focus:ring-blue-500" data='text'>
              <label for="alignmentRight" class="ml-1 text-xs font-medium text-gray-900">Right</label>
            </div>
          </div>
        </div>
        <div id="docker_structure" class="px-2 pb-2 mb-1 border-b border-zinc-300 px-2">
          <label class="block mb-1 text-xs font-medium text-gray-900">Structure</label>
          <div id="margin" class="flex justify-between">
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900">Letter Spacing</label>
              <input type="number" name="letterSpacing" id="letterSpacing" step="0.1" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900">Line Height</label>
              <input type="number" name="lineHeight" id="lineHeight" step="0.5" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
            <div>
              <label class="block mb-1 text-xs font-medium text-gray-900">Angle</label>
              <input type="number" name="angle" id="angle" class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 p-1" data='text'>
            </div>
          </div>
        </div>
        <div id="docker_textarea" class="px-2">
          <label class="block mb-1 text-xs font-medium text-gray-900">Text</label>
          <textarea id="text" class="border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1 w-full mb-1 resize-none" rows="4" data='text'></textarea>
          <ul id="texts" class="bg-white w-full select-none h-36 overflow-y-scroll">
            <li class="text-ellipsis truncate w-full border-b border-zinc-300 p-1 cursor-pointer hover:bg-purple-300">1- A academia só ajuda estudiosos pobres a receber dinheiro do filho de família rica.</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="body_canvas" class="w-full bg-zinc-800 overflow-y-auto overflow-x-hidden h-screen relative">
      <canvas id="canvas" class="z-0 p-2" tabindex="1"></canvas>
      <img id="raw" class="hidden absolute p-2 object-cover"></img>
    </div>
    <div class="w-96 bg-gray-200 h-screen shadow-2xl z-10 overflow-y-auto border-r border-slate-300 py-2 px-1 overflow-x-hidden">
      <div class="px-2 pb-2 border-b border-zinc-300">
        <div class="inline-flex rounded-md shadow-sm w-full" role="group">
          <button id="previous" type="button" class="inline-flex items-center px-4 py-1 text-sm font-medium text-gray-900 bg-purple-300 border border-purple-500 rounded-l-lg cursor-not-allowed">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M7.28 7.72a.75.75 0 010 1.06l-2.47 2.47H21a.75.75 0 010 1.5H4.81l2.47 2.47a.75.75 0 11-1.06 1.06l-3.75-3.75a.75.75 0 010-1.06l3.75-3.75a.75.75 0 011.06 0z" clip-rule="evenodd" />
              </svg>
            </button>
            <button id="next" type="button" class="inline-flex items-center px-4 py-1 text-sm font-medium text-gray-900 bg-purple-300 border border-purple-500 rounded-r-md cursor-not-allowed">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M16.72 7.72a.75.75 0 011.06 0l3.75 3.75a.75.75 0 010 1.06l-3.75 3.75a.75.75 0 11-1.06-1.06l2.47-2.47H3a.75.75 0 010-1.5h16.19l-2.47-2.47a.75.75 0 010-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>
        <div id="docker-plugins" class="px-2">
          <label class="block mb-1 text-xs font-medium text-gray-900">Plugins</label>
          <ul id="plugins" class="bg-white w-full select-none h-32 overflow-y-scroll rounded mb-2">
          </ul>
          <ul id="plugins-installed" class="flex flex-col gap-2 overflow-y-scroll h-96">
          </ul>
        </div>
      </div>
    </div>

    <!-- Fonts modal -->
    <div id="FontsModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full  max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t">
            <div class="w-full flex  justify-center">
              <div class="flex items-center mb-4">
                <input id="font_input" class="w-full px-4 py-2 border rounded-md mr-2" type="text" placeholder="Search...">
              </div>
            </div>
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="FontsModal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6 h-[28rem]">
            <ul id="font_body" class="grid grid-cols-4 gap-3 mb-4">
            </ul>
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b justify-center">
            <div class="flex flex-col items-center">
              <!-- Help text -->
              <span id="font_help_text" class="text-sm text-gray-700">
                Showing <span class="font-semibold text-gray-900">1</span> to <span class="font-semibold text-gray-900">10</span> of <span class="font-semibold text-gray-900">100</span> Entries
              </span>
              <div class="inline-flex mt-2 xs:mt-0">
                <!-- Buttons -->
                <button id="font_previous" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-300 rounded-l hover:bg-gray-400">
                  <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                  </svg>
                  Prev
                </button>
                <button id="font_next" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-gray-300 border-0 border-l border-gray-700 rounded-r hover:bg-gray-400">
                  Next
                  <svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Upload modal -->
    <div id="uploadModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
          <!-- Modal header -->
          <div class="flex items-start justify-between p-4 border-b rounded-t">
            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="uploadModal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <div class="flex mb-2 gap-2">
              <div class="grow">
                <label for="path" class="block mb-2 text-sm font-medium text-gray-900">Path file</label>
                <input id="path" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:outline-none p-2" type="text">
              </div>
            </div>
            <div class="flex gap-2 mb-2">
              <div>
                <label for="start" class="block mb-2 text-sm font-medium text-gray-900">Start</label>
                <input type="number" id="start" aria-describedby="start-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="-1">
                <p id="start-explanation" class="mt-2 text-sm text-gray-500">Leave -1 to get all files from the directory.</p>
              </div>
              <div>
                <label for="end" class="block mb-2 text-sm font-medium text-gray-900">End</label>
                <input type="number" id="end" aria-describedby="end-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" value="0">
              </div>
              <div>
                <label for="type_style" class="block mb-2 text-sm font-medium text-gray-900">Style</label>
                <select id="type_style" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option value="manga" selected>Manga</option>
                  <option value="manhwa">Manhwa</option>
                </select>
              </div>
            </div>
            <button id="submit" data-modal-hide="uploadModal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
            <button id="load_file" data-modal-hide="uploadModal" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Load</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='javascripts/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/textbox.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/text_canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/bubble_canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/draw_bubble.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/group.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/list_text.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/handler.js') }}"></script>
  </body>
  </html>